.account {
  padding: 70px 30px 40px;
}

.account__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account__line-container {
  padding-top: 80px;
  max-width: 410px;
  width: 100%;
}

.account__line {
  min-width: 260px;
  display: flex;
  justify-content: space-between;
}

.account__data {
  margin: 0;
  font-size: 11px;
  line-height: 1.18;
  color: #000;
}

.account__data_description {
  font-weight: 500;
}

.account__divider {
  margin: 16px 0 17px;
  width: 100%;
  height: 1px;
  background-color: #e8e8e8;
}

.account__btns {
  padding-top: 379px;
  display: flex;
  flex-direction: column;
}

.account__btn {
  font-size: 12px;
  line-height: 1.25;
  background-color: transparent;
}

.account__btn_last {
  padding-top: 16px;
  color: #ee3465;
}

@media screen and (min-width: 767px) {
  .account {
    padding: 236px 179px 269px;
  }

  .account__line-container {
    padding-top: 96px;
  }

  .account__btn {
    font-size: 13px;
    line-height: 1.23;
  }

  .account__btns {
    padding-top: 210px;
  }
}

@media screen and (min-width: 1279px) {
  .account {
    padding: 74px 435px 70px;
  }

  .account__line-container {
    padding-top: 123px;
  }

  .account__btns {
    margin-top: auto;
    padding-top: 220px;
  }
}
