.header {
  max-width: 100%;
  min-height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  padding: 18px 0 18px 4px;
}

.header__nav {
  display: none;
}

.header__profile-link {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__logo {
    padding: 18px 0;
  }
}

@media screen and (min-width: 1280px) {
  .header__burger-menu {
    display: none;
  }

  .header__wrapper {
    display: flex;
    align-items: center;
    min-width: max-content;
  }

  .header__nav {
    display: block;
    padding: 28px 50px 28px 0;
  }

  .header__nav-link {
    margin: 0;
    padding: 0 0 0 20px;
    list-style: none;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    color: #000;
  }

  .header__nav-link:first-of-type {
    padding-left: 0;
    font-weight: 500;
  }

  .header__profile-link {
    display: inline-block;
    padding: 7px 10px;
    width: 100px;
    height: 32px;
    text-decoration: none;
    text-align: end;
    background-image: url('../../images/account-btn-icon.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-origin: content-box;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #000;
    border: 2px solid rgba(170, 170, 170, 0.2);
    border-radius: 50px;
  }
}
