.movies-search {
  min-width: 300px;
  max-width: 1140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.movies-search__form {
  padding: 19px;
  height: 72px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdfdfd;
  border-radius: 9px;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}

.movies-search__icon {
  display: none;
}

.movies-search__input {
  text-align: left;
  padding: 0;
  min-width: 182px;
  max-width: 751px;
  width: 100%;
  border: none;
  outline: none;
  background-color: #fdfdfd;
}

.movies-search__input::placeholder {
  color: #a0a0a0;
  font-size: 14px;
  line-height: 1.43;
}

.movies-search__btn {
  margin-left: 21px;
  padding: 0;
  min-width: 59px;
  min-height: 34px;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.64;
  border: none;
  border-radius: 48px;
  color: #fff;
  background-color: #2be080;
  cursor: pointer;
}

.movies-search__checkbox {
  padding-top: 45px;
}

.desktop {
  display: none;
}

@media screen and (min-width: 767px) {
  .movies-search {
    flex-direction: row;
  }

  .movies-search__form {
    padding: 19px 20px 19px 25px;
    display: flex;
    align-items: center;
  }

  .movies-search__icon {
    display: block;
    width: 22px;
    height: 22px;
    background-image: url('../../../images/find-movie-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
  }

  .movies-search__input {
    padding-left: 16px;
  }

  .movies-search__input::placeholder {
    font-size: 18px;
    line-height: 1.11;
  }

  .movies-search__checkbox {
    padding: 0 0 0 19px;
    margin-left: 19px;
    height: 100%;
    align-items: center;
    border-left: 1px solid #cbcbcb;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }
}

@media screen and (min-width: 1279px) {
  .movies-search__form {
    padding-right: 30px;
  }

  .movies-search__checkbox {
    padding-left: 29px;
  }
}
